<a href="https://colab.research.google.com/github/FelipeArredond/BigDataProject/blob/main/Proyecto_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ST0263 - Tópicos Especiales de Telemática
Nombre: Luis Felipe Arredondo Giraldo

Correo: lfarredong@eafit.edu.co

# Proyecto 3 - Spark con Notebooks y PySpark.
 En este proyecto 3, se trabajará con datos de casos positivos de COVID-19 en Colombia utilizando Apache Spark y PySpark en Jupyter Notebooks. Se realizará análisis exploratorio y se responderán preguntas de negocio, utilizando dos tipos de procesamiento Spark: Dataframes y SparkSQL. Los datos deben ser almacenados y procesados tanto en AWS S3 como en Google Drive.

# 1. Almacenar datos en bucket s3 y drive

In [124]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Instalacion de Java y Spark

In [125]:
#instalar java y spark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [126]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

Sesion de drive

In [127]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark_drive.sparkContext

Sesion de bucket s3

In [115]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("data_processing") \
    .master("local[*]") \
    .config("spark.driver.memory", "16G") \
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M") \
    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk:1.11.1034,org.apache.hadoop:hadoop-aws:3.3.4") \
    .config("fs.s3a.access.key", "ASIAX6EF3QQJNVCXYZWE") \
    .config("fs.s3a.secret.key", "MOlm0Vk6woIRTXDHkB8eZRIt1izi6ZUl1CpRu57M") \
    .config("fs.s3a.session.token", "IQoJb3JpZ2luX2VjEOL//////////wEaCXVzLXdlc3QtMiJGMEQCIBrgh4pl6iFyp1JDzmCmpBjrELBLr4dCnsL2ryDnAtJlAiB8zxJAjOW3msJ3uIA5ZqVRAMJezN+9VA/z6NnNQ6mLfSqxAghrEAAaDDU0NTc0MTU3MTA5MCIMvjN9Zb8unnLt8+ClKo4CCB0/LxgwZWpL+mM4NSCtovBJhQU0GBQaMKuToIrgxBOkUoOJjqi08Twbe+1enUqYtPZQA4AOAUKo+L7PHxgGHuoO7Jzm/msMzWEEbW/aGOdR+SAgKMhas3i/fd5MgrlQ0ssBDyXX1ZFI1Tg7LLSteIX90R7ouj6kqKKn85t/NiHUOPk8c6r7wBXKX4YOQGaL99wFT070j0mDlsbZ8ctuOEC/SAnEOd6io1oryIGwLwlw1bYQ0DG/mUYWv6ejZWOO44LITqM/kaKLMgXHwqW5OHCOp8WCKLu9On+9mEv/MjliobRpefmdT+YK4YwFc3y3w0jc930RNQ5pFWvQJafmlzFLMmsSp6jejSC6a3uYMKya77IGOp4BBmGBdqS2heNbZfIZUQHhZms5iEdI17oSB1thTQwA9rpph1iCbpB1i9/65203ykUFmY6mg9+fBpxdIaON8xkVNEaVpchiavjc+wqkNKFRCOEyxxSy3dkE+N9rFCcygehiUsPEH1wxSRTe4HaecR/oKKZXNbGdr5SYJ67fRV5hV4RFxWOTBD+NdI4IRbQsEZji3nCEHsvQQZGVjpb2elQ=") \
    .config("fs.s3a.path.style.access", "true") \
    .config('fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem') \
    .config('fs.s3a.endpoint', 's3.amazonaws.com') \
    .getOrCreate()

sc = spark.sparkContext

In [128]:
spark

In [129]:
sc

## Carga de dataset con s3

In [ ]:
df=spark.read.csv('s3a://lfbucket-telematica/proyecto3/casoscovid.csv',inferSchema=True,header=True)

# Carga dataset drive

In [130]:
df=spark.read.csv('/content/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)

# 2. Análisis exploratorio de datos en dataframes donde cargamos los datos: (programa en jupyterhub y google colab)

## 2.1 Columnas

In [131]:
#number of records in dataframe
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

## 2.2 Tipos de datos

In [132]:
#printSchema
df.printSchema()

root
 |-- fecha reporte web: timestamp (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: timestamp (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: timestamp (nullable = true)
 |-- Fecha de muerte: timestamp (nullable = true)
 |-- Fecha de diagnóstico: timestamp (nullable = true)
 |-- Fecha de recuperación: timestamp (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

## 2.4 Renombrar columnas

In [133]:
df=df.withColumnRenamed('Fecha de muerte','fechaMuerte')
df=df.withColumnRenamed('Pertenencia étnica', 'pertenenciaEtnica')
df=df.withColumnRenamed('Nombre departamento', 'departamento')

## 2.3 Seleccionar algunas columnas

In [134]:
df.select('Estado','fechaMuerte', 'Sexo', 'pertenenciaEtnica').show(5)

+---------+-------------------+----+-----------------+
|   Estado|        fechaMuerte|Sexo|pertenenciaEtnica|
+---------+-------------------+----+-----------------+
|     Leve|               NULL|   F|                6|
|     Leve|               NULL|   F|                6|
|     Leve|               NULL|   F|                6|
|Fallecido|2020-12-30 00:00:00|   F|                6|
|     Leve|               NULL|   F|                6|
+---------+-------------------+----+-----------------+
only showing top 5 rows

## 2.5 Agregar columnas

In [135]:
df = df.withColumn('adultoMayor',( df["edad"] >= 60))

## 2.6 Borrar columnas

In [136]:
df = df.drop('adultoMayor')

## 2.7 Filtrar datos

In [137]:
filtered_data = df.filter(df['pertenenciaEtnica'] == 6)
filtered_data.show()

+-------------------+----------+---------------------+----------------------------+---------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+-----------------+-----------------------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|   departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|   Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|        fechaMuerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|pertenenciaEtnica|Nombre del grupo étnico|
+-------------------+----------+---------------------+----------------------------+---------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+-----------------+-----------------------+
|2020-12-24 00:00:00|   1556979|  2020-12-22 00:00:00|                          76|          VALLE|                    76001|            CALI|  67|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556980|  2020-12-19 00:00:00|                          76|          VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-07 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-25 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556981|  2020-12-19 00:00:00|                          76|          VALLE|                    76001|            CALI|  68|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-18 00:00:00|               NULL| 2020-12-22 00:00:00|  2021-01-01 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556982|  2020-12-22 00:00:00|                          76|          VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-17 00:00:00|2020-12-30 00:00:00| 2020-12-23 00:00:00|                 NULL|                NULL|                6|                   NULL|
|2020-12-24 00:00:00|   1556983|  2020-12-22 00:00:00|                          76|          VALLE|                    76001|            CALI|  65|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556984|  2020-12-15 00:00:00|                          76|          VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-09 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-25 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556985|  2020-12-21 00:00:00|                          76|          VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-14 00:00:00|               NULL| 2020-12-22 00:00:00|  2020-12-28 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556986|  2020-12-18 00:00:00|                          76|          VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-11 00:00:00|2020-12-26 00:00:00| 2020-12-22 00:00:00|                 NULL|                NULL|                6|                   NULL|
|2020-12-24 00:00:00|   1556987|  2020-12-18 00:00:00|                          76|          VALLE|                    76001|            CALI|  64|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-15 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-30 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556988|  2020-12-17 00:00:00|                          76|          VALLE|                    76001|            CALI|  65|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-08 00:00:00|               NULL| 2020-12-22 00:00:00|  2020-12-25 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556989|  2020-12-16 00:00:00|                          76|          VALLE|                    76001|            CALI|  62|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-08 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-04-23 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556990|  2020-12-08 00:00:00|                          76|          VALLE|                    76001|            CALI|  36|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-01 00:00:00|               NULL| 2020-12-12 00:00:00|  2020-12-25 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556991|  2020-12-22 00:00:00|                          76|          VALLE|                    76001|            CALI|  36|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-19 00:00:00|               NULL| 2020-12-21 00:00:00|  2021-01-02 00:00:00|                 PCR|                6|                   NULL|
|2020-12-24 00:00:00|   1556992|  2020-12-19 00:00:00|                          76|          VALLE|                    76001|            CALI|  35|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-12 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-27 00:00:00|              Tiempo|                6|                   NULL|
|2020-11-08 00:00:00|   1137429|  2020-11-05 00:00:00|                           5|      ANTIOQUIA|                     5266|        ENVIGADO|  37|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-06 00:00:00|  2021-04-25 00:00:00|                 PCR|                6|                   NULL|
|2020-11-08 00:00:00|   1137430|  2020-10-31 00:00:00|                          68|      SANTANDER|                    68001|     BUCARAMANGA|  77|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-06 00:00:00|  2020-11-15 00:00:00|              Tiempo|                6|                   NULL|
|2020-11-08 00:00:00|   1137431|  2020-11-04 00:00:00|                          54|NORTE SANTANDER|                    54001|          CUCUTA|  52|                       1|   M|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-07 00:00:00|  2020-11-15 00:00:00|              Tiempo|                6|                   NULL|
|2020-11-08 00:00:00|   1137432|  2020-11-06 00:00:00|                          17|         CALDAS|                    17001|       MANIZALES|  46|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-06 00:00:00|  2020-11-15 00:00:00|              Tiempo|                6|                   NULL|
|2020-11-08 00:00:00|   1137433|  2020-11-04 00:00:00|                           5|      ANTIOQUIA|                     5266|        ENVIGADO|  37|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-10-31 00:00:00|               NULL| 2020-11-04 00:00:00|  2020-11-15 00:00:00|              Tiempo|                6|                   NULL|
|2020-11-08 00:00:00|   1137434|  2020-11-05 00:00:00|                          11|         BOGOTA|                    11001|          BOGOTA|  81|                       1|   F|     Relacionado|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-10-31 00:00:00|2020-11-11 00:00:00| 2020-11-07 00:00:00|                 NULL|                NULL|                6|                   NULL|
+-------------------+----------+---------------------+----------------------------+---------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+-----------------+-----------------------+
only showing top 20 rows

## 2.8 Ejecutar alguna función UDF o lambda sobre alguna columna creando una nueva.

In [83]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def clasificar_edad(edad):
    if edad <= 12:
        return "Niño"
    elif 13 <= edad <= 17:
        return "Adolescente"
    else:
        return "Adulto"

# Registrar la UDF con Spark
clasificar_edad_udf = udf(clasificar_edad, StringType())

# Aplicar la función UDF al DataFrame de Spark y crear una nueva columna "RangoEdad"
df_spark = df.withColumn("RangoEdad", clasificar_edad_udf(df.Edad))
df_spark.select("Edad", "RangoEdad").show(100)

+----+---------+
|Edad|RangoEdad|
+----+---------+
|  67|   Adulto|
|  66|   Adulto|
|  68|   Adulto|
|  74|   Adulto|
|  65|   Adulto|
|  66|   Adulto|
|  74|   Adulto|
|  66|   Adulto|
|  64|   Adulto|
|  65|   Adulto|
|  62|   Adulto|
|  36|   Adulto|
|  36|   Adulto|
|  35|   Adulto|
|  37|   Adulto|
|  77|   Adulto|
|  52|   Adulto|
|  46|   Adulto|
|  37|   Adulto|
|  81|   Adulto|
|  39|   Adulto|
|  38|   Adulto|
|  36|   Adulto|
|  42|   Adulto|
|  56|   Adulto|
|  85|   Adulto|
|  78|   Adulto|
|  81|   Adulto|
|  78|   Adulto|
|  64|   Adulto|
|  40|   Adulto|
|  63|   Adulto|
|  87|   Adulto|
|  53|   Adulto|
|  41|   Adulto|
|  57|   Adulto|
|  41|   Adulto|
|  64|   Adulto|
|  35|   Adulto|
|  93|   Adulto|
|  88|   Adulto|
|  63|   Adulto|
|  75|   Adulto|
|  68|   Adulto|
|  63|   Adulto|
|  41|   Adulto|
|  82|   Adulto|
|  87|   Adulto|
|  83|   Adulto|
|  81|   Adulto|
|  41|   Adulto|
|  78|   Adulto|
|  35|   Adulto|
|  40|   Adulto|
|  44|   Adulto|
|  52|   Adulto|
|  10|     Niño|
|  40|   Adulto|
|  33|   Adulto|
|  33|   Adulto|
|  32|   Adulto|
|  32|   Adulto|
|  35|   Adulto|
|  33|   Adulto|
|  33|   Adulto|
|  32|   Adulto|
|  34|   Adulto|
|  33|   Adulto|
|  33|   Adulto|
|  32|   Adulto|
|  33|   Adulto|
|  32|   Adulto|
|  31|   Adulto|
|  30|   Adulto|
|  29|   Adulto|
|  27|   Adulto|
|  26|   Adulto|
|  26|   Adulto|
|  24|   Adulto|
|  40|   Adulto|
|  20|   Adulto|
|  20|   Adulto|
|  47|   Adulto|
|  22|   Adulto|
|  81|   Adulto|
|  42|   Adulto|
|  42|   Adulto|
|  68|   Adulto|
|  49|   Adulto|
|  49|   Adulto|
|  82|   Adulto|
|  63|   Adulto|
|  38|   Adulto|
|  40|   Adulto|
|  52|   Adulto|
|  56|   Adulto|
|  34|   Adulto|
|  59|   Adulto|
|  21|   Adulto|
|  32|   Adulto|
+----+---------+
only showing top 100 rows

## 3. Contestar las siguientes preguntas de negocio sobre los datos de covid:

## 3.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor

Dataframe

In [138]:
departamentos_df = df.groupBy("Departamento").count().orderBy("count", ascending=False).limit(10)
departamentos_df.show()

+------------+------+
|Departamento| count|
+------------+------+
|      BOGOTA|118761|
|   ANTIOQUIA| 66674|
|       VALLE| 30751|
|BARRANQUILLA| 20701|
|CUNDINAMARCA| 18988|
|   SANTANDER| 18704|
|   ATLANTICO| 11933|
|   CARTAGENA| 11852|
|      TOLIMA|  9515|
|      CALDAS|  9061|
+------------+------+

SparkSQL

In [139]:
departamentos_sql = spark.sql("SELECT Departamento, COUNT(*) as casos FROM covid_data GROUP BY Departamento ORDER BY casos DESC LIMIT 10")
departamentos_sql.show()

+------------+------+
|Departamento| casos|
+------------+------+
|      BOGOTA|118761|
|   ANTIOQUIA| 66674|
|       VALLE| 30751|
|BARRANQUILLA| 20701|
|CUNDINAMARCA| 18988|
|   SANTANDER| 18704|
|   ATLANTICO| 11933|
|   CARTAGENA| 11852|
|      TOLIMA|  9515|
|      CALDAS|  9061|
+------------+------+

## 3.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor

Dataframe

In [140]:
ciudades_df = df.groupBy("Nombre municipio").count().orderBy("count", ascending=False).limit(10)
ciudades_df.show()

+----------------+------+
|Nombre municipio| count|
+----------------+------+
|          BOGOTA|118761|
|        MEDELLIN| 36850|
|            CALI| 20925|
|    BARRANQUILLA| 20701|
|       CARTAGENA| 11852|
|     BUCARAMANGA|  8931|
|          IBAGUE|  6904|
|       MANIZALES|  6339|
|         SOLEDAD|  6079|
|      VALLEDUPAR|  5729|
+----------------+------+

SparkSQL

In [141]:
ciudades_sql = spark.sql("SELECT `Nombre municipio` as ciudad, COUNT(*) as casos FROM covid_data GROUP BY ciudad ORDER BY casos DESC LIMIT 10")
ciudades_sql.show()

+------------+------+
|      ciudad| casos|
+------------+------+
|      BOGOTA|118761|
|    MEDELLIN| 36850|
|        CALI| 20925|
|BARRANQUILLA| 20701|
|   CARTAGENA| 11852|
| BUCARAMANGA|  8931|
|      IBAGUE|  6904|
|   MANIZALES|  6339|
|     SOLEDAD|  6079|
|  VALLEDUPAR|  5729|
+------------+------+

## 3.3 Los 10 días con más casos de covid en Colombia ordenados de mayor a menor

Dataframe

In [142]:
dias_df = df.groupBy("fecha reporte web").count().orderBy("count", ascending=False).limit(10)
dias_df.show()

+-------------------+-----+
|  fecha reporte web|count|
+-------------------+-----+
|2021-06-18 00:00:00|28083|
|2021-06-07 00:00:00|20978|
|2021-06-01 00:00:00|17815|
|2021-04-25 00:00:00|17131|
|2021-04-18 00:00:00|16832|
|2021-04-24 00:00:00|16611|
|2021-04-17 00:00:00|14942|
|2021-04-07 00:00:00|11351|
|2021-04-08 00:00:00| 9016|
|2021-04-09 00:00:00| 5106|
+-------------------+-----+

SparkSQL

In [143]:
dias_sql = spark.sql("SELECT `fecha reporte web` as fecha, COUNT(*) as casos FROM covid_data GROUP BY fecha ORDER BY casos DESC LIMIT 10")
dias_sql.show()

+-------------------+-----+
|              fecha|casos|
+-------------------+-----+
|2021-06-18 00:00:00|28083|
|2021-06-07 00:00:00|20978|
|2021-06-01 00:00:00|17815|
|2021-04-25 00:00:00|17131|
|2021-04-18 00:00:00|16832|
|2021-04-24 00:00:00|16611|
|2021-04-17 00:00:00|14942|
|2021-04-07 00:00:00|11351|
|2021-04-08 00:00:00| 9016|
|2021-04-09 00:00:00| 5106|
+-------------------+-----+

## 3.4 Distribución de casos por edades de covid en Colombia

Dataframe

In [144]:
edades_df = df.groupBy("Edad").count().orderBy("Edad")
edades_df.show()

+----+-----+
|Edad|count|
+----+-----+
|   1| 1344|
|   2| 1213|
|   3| 1269|
|   4| 1322|
|   5| 1399|
|   6| 1572|
|   7| 1459|
|   8| 1569|
|   9| 1743|
|  10| 1797|
|  11| 2063|
|  12| 2128|
|  13| 2296|
|  14| 2498|
|  15| 2766|
|  16| 2879|
|  17| 3222|
|  18| 4127|
|  19| 5448|
|  20| 6153|
+----+-----+
only showing top 20 rows

SparkSQL

In [145]:
edades_sql = spark.sql("SELECT Edad, COUNT(*) as casos FROM covid_data GROUP BY Edad ORDER BY Edad")
edades_sql.show()

+----+-----+
|Edad|casos|
+----+-----+
|   1| 1344|
|   2| 1213|
|   3| 1269|
|   4| 1322|
|   5| 1399|
|   6| 1572|
|   7| 1459|
|   8| 1569|
|   9| 1743|
|  10| 1797|
|  11| 2063|
|  12| 2128|
|  13| 2296|
|  14| 2498|
|  15| 2766|
|  16| 2879|
|  17| 3222|
|  18| 4127|
|  19| 5448|
|  20| 6153|
+----+-----+
only showing top 20 rows

## 3.5 Cuantos fallecidos hay por departamento?

Dataframe

In [146]:
fallecidos_df = df.filter(df["Estado"] == "Fallecido")
agrupados_departamento = fallecidos_df.groupBy("departamento").count().orderBy("count", ascending=False)
agrupados_departamento.show()

+---------------+-----+
|   departamento|count|
+---------------+-----+
|         BOGOTA| 2465|
|      ANTIOQUIA| 1602|
|          VALLE| 1048|
|   BARRANQUILLA|  639|
|      SANTANDER|  615|
|   CUNDINAMARCA|  577|
|      ATLANTICO|  477|
|NORTE SANTANDER|  443|
|        CORDOBA|  319|
|         TOLIMA|  295|
|         NARIÑO|  262|
|          HUILA|  241|
|          CESAR|  228|
|           META|  207|
|         CALDAS|  202|
|      CARTAGENA|  189|
|      RISARALDA|  183|
|         BOYACA|  180|
| STA MARTA D.E.|  179|
|        QUINDIO|  152|
+---------------+-----+
only showing top 20 rows

SparkSQL

In [147]:
query = """
    SELECT departamento, COUNT(*) as count
    FROM covid_data
    WHERE Estado = 'Fallecido'
    GROUP BY departamento
    ORDER BY count DESC
"""

agrupados_departamento_spksql = spark.sql(query)

agrupados_departamento_spksql.show()

+---------------+-----+
|   departamento|count|
+---------------+-----+
|         BOGOTA| 2465|
|      ANTIOQUIA| 1602|
|          VALLE| 1048|
|   BARRANQUILLA|  639|
|      SANTANDER|  615|
|   CUNDINAMARCA|  577|
|      ATLANTICO|  477|
|NORTE SANTANDER|  443|
|        CORDOBA|  319|
|         TOLIMA|  295|
|         NARIÑO|  262|
|          HUILA|  241|
|          CESAR|  228|
|           META|  207|
|         CALDAS|  202|
|      CARTAGENA|  189|
|      RISARALDA|  183|
|         BOYACA|  180|
| STA MARTA D.E.|  179|
|        QUINDIO|  152|
+---------------+-----+
only showing top 20 rows

# 4. Guarde los datos del numeral 3, en el bucket público de cada estudiante

## 4.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor.

In [148]:
departamentos_df.write.format('csv').mode('overwrite').option('header', 'true').save('/content/results/departamentos.csv')

## 4.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor.

In [120]:
ciudades_df.write.format('csv').mode('overwrite').option('header', 'true').save('/content/results/ciudades.csv')

## 4.3 Los 10 días con más casos de covid en Colombia ordenados de mayor a menor.

In [121]:
dias_df.write.format('csv').mode('overwrite').option('header', 'true').save('/content/results/top10casospordia.csv')

## 4.4 Distribución de casos por edades de covid en Colombia.

In [122]:
edades_df.write.format('csv').mode('overwrite').option('header', 'true').save('/content/results/ciudades.csv')

## 4.5 Realice la pregunda de negocio que quiera sobre los datos y respondala con la correspondiente programación en spark.

In [123]:
agrupados_departamento.write.format('csv').mode('overwrite').option('header', 'true').save('/content/results/fallecidospordepartamento.csv')